{{ template "header.html" . }}
<div class="row" >
  <div class="col-sm-1" >
    <img src="/static/images/database.png" alt="Database Icon" height="60">
  </div>
  <div class="col" >
    <h1 class="display-4">Databases</h1>
  </div>
</div>

<div class="row"></div>
  <div class="col-sm-1"></div>
  <div class="col">
    <table>

        
        <tbody>
          {{range $key, $value := .Databases}}
            <tr>
              <td>
                <a href="/dbs/{{$value}}">{{$key}}</a>
              </td>
            </tr>
          {{end}}
        </tbody>
    </table>
  </div>
</div>



{{ template "footer.html" . }}
