<html>
  <head>
    <title>Data Grammar</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <a class="navbar-brand" href="#">
        <img src="/static/images/favicon.ico" width="20" height="20" class="d-inline-block align-top" alt="Data Field Guide">
      </a>

      <a class="navbar-brand" href="/">Data Field Guide</a>

    </nav>

    <div class="container">
